.cat-transformation-example {
}

.cat-transformation-example__wrapper {
  margin: 0 auto;
}

.cat-transformation-example__title {
  font-family: "Oswald", "sans-serif";
  color: $black0;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.cat-transformation-example__description {
  font-family: "lato", "sans-serif";
  color: $black4;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.results-animal-using-cat-energy-products__attribute {
  font-family: "Oswald", "sans-serif";
  color: $black0;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.results-animal-using-cat-energy-products__description {
  font-family: "lato", "sans-serif";
  color: $black4;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.cat-transformation-example__cost {
  font-family: "Oswald", "sans-serif";
  color: $black0;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}
