.main-nav {
  background-color: $white;
}

.main-nav__link {
  font-family: "Oswald", "sans-serif";
  color: $black0;
  font-style: medium;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__toggle {
  border: none;
  background-color: $white;
  background-image: url("/source/img/Mobile/popower-exit.svg");
}

.main-nav__wrapper {
  margin: 0 auto;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
