.options-list__description {
  font-family: "lato", "sans-serif";
  color: $black4;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.options-list__attribute {
  font-family: "lato", "sans-serif";
  color: $black4;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}
