.present {
  background-image: linear-gradient(
      $transparentgreen 0%,
      $transparentgreen 100%
    ),
    url("../img/mobile/catalog/present.png");
  background-size: 280px 290px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 290px;
}

.present__description {
  font-family: "lato", "sans-serif";
  color: $white;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}
