.selection-form__group {
}

.selection-form__radio-list {
}

.radio-list {
}

.radio-list__item {
}

.radio-list__label {
  font-family: "Oswald", "sans-serif";
  color: $black2;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.radio-list__control-input {
}
