.main-header {
  background-color: #ffffff;
  padding: 10px 20px;
}

.main-nav {
  background-color: #ffffff;
  display: none;
}

.main-nav__link {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: medium;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__toggle {
  border: none;
  background-color: #ffffff;
  background-image: url("/source/img/Mobile/popower-exit.svg");
}

.main-nav__wrapper {
  margin: 0 auto;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "oswald";
  font-style: medium;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  display: none;
}

.page__body {
  margin: 0;
  padding: 0;
}

.functional-food__header {
  padding: 27px 36px 164px 35px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/mobile/background-image-1.png");
  background-size: 320px 302px;
  background-position: center;
  background-repeat: no-repeat;
}

.functional-food__title {
  font-family: "Oswald", "sans-serif";
  color: #ffffff;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

.functional-food__slogan {
  font-family: "Oswald", "sans-serif";
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.functional-food__link {
  font-family: "Oswald", "sans-serif";
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 44px;
}

.functional-food__choosing-diet-plan {
  margin: 20px;
}

.choosing-diet-plan__item {
  background-color: #f2f2f2;
  list-style-type: none;
}

.choosing-diet-plan__title {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.choosing-diet-plan__description {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.choosing-diet-plan__link {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.cat-transformation-example__wrapper {
  margin: 0 auto;
}

.cat-transformation-example__title {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.cat-transformation-example__description {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.results-animal-using-cat-energy-products__attribute {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.results-animal-using-cat-energy-products__description {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.cat-transformation-example__cost {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.advantages__wrapper {
  margin: 0 auto;
}

.advantages__slogan {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__description {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.deep-footer {
  background-color: #f2f2f2;
}

.deep-footer__site-developer-link {
  text-decoration: none;
}

.deep-footer__site-developer-name {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.footer__wrapper {
  margin: 0 auto;
}

.footer__text-container {
  background-color: #ffffff;
}
.footer__text-container--form {
  background-color: #f2f2f2;
}
.footer__text-container--catalog {
  background-color: #f2f2f2;
}

.footer__slogan {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.footer__text {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.social-network-list {
  padding: 0;
  margin: 0;
  list-style-type: 0;
}

.control__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control__label {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

input {
  font-family: "Oswald", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

label {
  font-family: "Oswald", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.main-title {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.radio-list__label {
  font-family: "Oswald", "sans-serif";
  color: #222222;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.selection-form__group {
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.selection-form__about-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.selection-form__radio-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.selection-form__group-title {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
}

.selection-form__contact-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.selection-form__activation-button {
  font-family: "Oswald", "sans-serif";
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  padding: 7px 44px;
}

.selection__wrapper {
  margin: 0 auto;
}

.selection__description {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.selection__directive {
  font-family: "lato", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.additionally-products__main-title {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.additionally-products_scroll {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additionally-products__title {
  font-family: "Oswald", "sans-serif";
  color: #222222;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.additionally-products__quantity {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
}

.additionally-products__price {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: right;
}

.additionally-products__link {
  font-family: "Oswald", "sans-serif";
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
  padding: 10px 109px;
}

.catalog__wrapper {
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  border-bottom: 1px solid #ebebeb;
}

.catalog__description-link {
  text-decoration: none;
}

.catalog__item-title {
  font-family: "Oswald", "sans-serif";
  color: #222222;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__item-link {
  font-family: "Oswald", "sans-serif";
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
  padding: 10px 109px;
}

.main-catalog-title {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
}

.more__title {
  font-family: "Oswald", "sans-serif";
  color: #111111;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.more__remark {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.more__button {
  font-family: "Oswald", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  padding: 10px 94px;
}

.options-list__description {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.options-list__attribute {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.present {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/mobile/catalog/present.png");
  background-size: 280px 290px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 290px;
}

.present__description {
  font-family: "lato", "sans-serif";
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}
/*# sourceMappingURL=style.css.map */