.advantages__wrapper {
  margin: 0 auto;
}

.advantages__slogan {
  font-family: "Oswald", "sans-serif";
  color: #000000;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.advantages__description {
  font-family: "lato", "sans-serif";
  color: #444444;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}
